@inherits Umbraco.Web.Mvc.UmbracoViewPage<TestSite.Logic.Models.DocumentTypes.UmbHomePage>
@{
	Layout = "umbLayout.cshtml";
}
@{ Html.RenderPartial("umbHomepageBanner"); }
<!-- Main -->
<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row">
			<div class="12u">
				<h2>Content picker</h2>
				@{
					var typedContentPicker = Model.ContentPicker;
					if (typedContentPicker != null)
					{
						<p>@typedContentPicker.GetType()</p>
						<p>@typedContentPicker.Name</p>
					}
				}


				<h2>Multiple Media Picker set to multiple</h2>
				@{
					var typedMultiMediaPicker = Model.MultiMedia;
					foreach (var item in typedMultiMediaPicker)
					{
						<img src="@item.Url" style="width:200px" />
						@item.Name @item.GetType()

					}
				}

				<h2>Multiple Media Picker set to single</h2>
				@{
					var typedMediaPickerSingle = Model.MultiMediaSingle;
					if (typedMediaPickerSingle != null)
					{
						<img src="@typedMediaPickerSingle.Url" style="width:200px" />
						@typedMediaPickerSingle.GetType()
					}
				}

				<h2>Multiple Media Picker set to multiple for Files</h2>
				@{
					var typedMultiMediaPickerFiles = Model.MultiMediaFile;
					<ul>
						@foreach (var item in typedMultiMediaPickerFiles)
						{
							<li>
								<a href="@item.Url" >@item.Url</a> - @item.Name @item.GetType()
							</li>

						}
					</ul>
				}

				<h2>Multiple Media Picker set to multiple for Folders</h2>
				@{
					var typedMultiMediaPickerFolders = Model.MultiMediaFolder;
					<ul>
						@foreach (var item in typedMultiMediaPickerFolders)
						{
							<li>
								@item.Name - @item.GetType()
							</li>

						}
					</ul>
				}

				@{ Html.RenderPartial("umbFeatures"); }
			</div>
		</div>
		<div class="row">
			<div class="12u">
				@{   Html.RenderPartial("umbNewsOverviewWidget"); }
			</div>
		</div>
	</div>
</div>
<!-- /Main -->
